<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <header >
        <section class="top">
            <article class="logut">
                <div class="logo">
                    <img src="images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"> 
                </div>
                <div class="input">
                    <input placeholder = " Buscar prodructos, marcas, más..."></imput>
                    <i class="fa-solid fa-magnifying-glass" style="color: #666";></i>
                </div>
            </article>
            <div class="cocuota" style="text-align: center;">
                <p><i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i>Compra en cuotas y sin tarjeta de crédito</p>
            </div>
        </section>
        

        <ul type="none" class="lista">
            <li>Ofertas</li>
            <li >Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
            <BR></BR>
            <li>Creá tu Cuenta <i class="fa-regular fa-id-card" style="color: #000000;"></i></li>
            <li>Ingresá <i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i></li>
            <li>Compras <i class="fa-solid fa-basket-shopping" style="color: #000000;"></i></li>
        </ul>
        
        <br>

        <nav class="burger">
            <i class="fa-solid fa-bars" style="color: #ffffff; background-color: #1259c3;;" ></i>
        </nav>
        <div class="banner">
            <img width ="100%" src="images/img-home-banner.jpg" alt="banner-footer">
        </div>

    </header>  
    <main>
        <section class="top">
            <p>
                <strong>
                    Login
                </strong>
            </p>
        </section>
        <hr>
        <form action="/login" method="post">
            <br>
            <p class="usuario">
                <input placeholder="Nombre de Usuari@" type="text" name="usuario" id="usuairo">
            </p>
            <br>
            <p class="clave">
                <input placeholder="Contraseña" type="password" name="contraseña" id="clave" >
            </p>
            <br>
            <p class="button">
                <button type="submit"> <i class="fa-solid fa-check" style="color: #00bf63;"></i> Ingresar </button>
            </p>
    </main>
    <footer >
        <section class="foots">
            <article class="foot">
                <i class="fa-solid fa-credit-card icon" style="color: #1259c3;"></i>
                <h4 style="color: #303030;">Pagá con tarjeta o en efectivo</h4>
                <p style="color: #666;">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fa-solid fa-gift icon" style="color: #1259c3;"></i>
                <h4 style="color: #303030;">Envío gratis desde $ 2.500</h4>
                <p style="color: #666;">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield icon" style="color: #1259c3; margin-bottom: 10px;" ></i>
                <h4 style="color: #303030;">Seguridad, de principio a fin</h4>
                <p style="color: #666;">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>
        <section class="copyr">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
    
</body>
</html>